[Unit]
Description=Einar service

[Service]
Type=simple
ExecStart=LOKIHOME/MYNAME-onboot.sh

[Install]
WantedBy=network-online.target

[Unit]
WantedBy=default.target